global:
  scrape_interval: 5s
  external_labels:
    monitor: 'devopsage-monitor'
scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['monitoring.guidanz.com:9090']
  - job_name: 'node-exporter'
    static_configs:
      - targets: ['monitoring.guidanz.com:9100']
  - job_name: 'cAdvisor'
    static_configs:
      - targets: [ 'monitoring.guidanz.com:8080' ]
